/* Translate */
.flex-container.translate {
	flex-wrap: wrap;
}
.translation-key-input {
	height: 2rem;
	border-radius: .5rem;
	border: 0;
	border-bottom: 1px solid black;
	margin: 0 1rem;
	transition: border .3s linear;
	text-align: center;
	outline: none !important;
}
.translation-key-input:focus {
	border-bottom: 1px solid #0080ff;
}
.flex-divider {
	width: 100%;
	display: none;
}
.translation-card {
	margin: 0 5%;
	display: none;
}
.original {
	text-align: center;
}
.translation {
	width: 100%;
    min-height: 2rem;
    border-radius: 5px;
}
.submit-translation {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.4rem;
    background: rgba(0, 128, 255, 1);
    cursor: pointer;
    color: white;
    border: 0;
    border-radius: 5px;
}
.translation-flag {
	width:200px;
}
.submit-translation:hover {
	background: rgba(0, 128, 255, .5);
}
.submit-translation > .fa {
	display: none !important;
}
.submit-translation.loading > span, .submit-translation.error > span, .submit-translation.done > span {
	display: none !important;
}
.submit-translation.loading {
    background: rgb(185, 185, 185);
}
.submit-translation.loading > .fa-cog {
	display: inline-block !important;
}

.submit-translation.error {
	background: rgb(210, 44, 44);
}
.submit-translation.error > .fa-exclamation {
	display: inline-block !important;
}

.submit-translation.done {
	background: rgb(8, 183, 6);
}
.submit-translation.done > .fa-check {
	display: inline-block !important;
}

.instructions-card {
	text-align: center;
	display: none;
}
